<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Style/Style.css">
    <title>O-Auth</title>
</head>
<body>
    <nav>
        <div class="nav">
            <a href="/" class="homepage">Homepage</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <h1> Welcome back Rakib</h1>
        <p> Homepage</p>
    </div>
</body>
</html>